:root {
  --accent-color: #2196f3;
  --white-accent: #fff;
  --main-color: #212121;
  --secondary-color: #757575;
  --background-btn: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--main-color);
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style-type: none;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000;
}
.logo-span {
  color: var(--accent-color);
}
.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.list .link:hover,
.list .link:focus {
  color: var(--accent-color);
}
.active {
  color: var(--accent-color);
}
.header-contacts {
  color: var(--secondary-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-accent);
  background-color: #2f303a;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-accent);
  background-color: var(--accent-color);
  cursor: pointer;
}
.benefits-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.member-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-color);
}
.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-accent);
  background-color: #2f303a;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

/* Портфолио */
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--background-btn);
  cursor: pointer;
}
.active-btn {
  color: var(--white-accent);
  background-color: var(--accent-color);
}
.card-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
